#login input {
  display: block;
  margin-bottom: 6px;
  width: 100%;
  padding: 6px;
  background: #000;
  color: #fff;
  border: 1px solid #333;
}

#login button {
  background: #00ff88;
  border: none;
  padding: 6px;
  cursor: pointer;
  font-weight: bold;
}
